{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.navigation: The navigation bar.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

{{ attach_library('laces/laces-sticky-header') }}
{{ attach_library('laces/bootstrap-containers') }}
{{ attach_library('laces/bootstrap-grid') }}
{{ attach_library('laces/bootstrap-navbar') }}

<div class="sticky-nav-top bg-dark"></div>
{% if page.header %}
  <header class="page-header">
    {{ page.header }}
  </header>
{% endif %}
<header class="page-navigation-header sticky-top sticky-nav">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      {{ page.navigation }}
      {# Navbar toggle for collapsible contentent #}
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapsible"
              aria-controls="navbarCollapsible" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      {# Navigation (collapsible) #}
      <div class="collapse navbar-collapse" id="navbarCollapsible">
        {{ page.navigation_collapsible }}
      </div>
    </div>
  </nav>
</header>

{% if page.highlighted %}
  {{ page.highlighted }}
{% endif %}

<main role="main">
  <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
  <div class="layout-content container">
    <div class="row">
      <div class="col">
        {{ page.content }}
      </div>
    </div>
  </div>
</main>

{% if page.footer %}
  <footer class="page-footer bg-dark text-light my-0 py-3">
    {{ page.footer }}
  </footer>
{% endif %}
