{#
/**
 * @file
 * Default theme implementation for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('laces/bootstrap-containers') }}
{{ attach_library('laces/laces-forms') }}

<form{{ attributes.addClass('bg-light p-3 mb-3') }}>
  {{ children }}
</form>

