// Required configuration

// Functions
@import "../../../../../vendor/twbs/bootstrap/scss/functions";

// Variable overrides
$enable-shadows: true;
$enable-gradients: true;
$enable-negative-margins: true;
$nav-tabs-border-width: 5px;
$nav-tabs-border-radius: 1rem;
$border-radius-xl: 0.75rem;
$border-radius-xxl: 1rem;

// Required Bootstrap imports
@import "../../../../../vendor/twbs/bootstrap/scss/variables";
@import "../../../../../vendor/twbs/bootstrap/scss/maps";
@import "../../../../../vendor/twbs/bootstrap/scss/mixins";
@import "../../../../../vendor/twbs/bootstrap/scss/root";
