ol.style-decimal {
  list-style-type: decimal;
}
ol.style-decimal-leading-zero {
  list-style-type: decimal-leading-zero;
}
ol.style-lower-alpha {
  list-style-type: lower-alpha;
}
ol.style-lower-roman {
  list-style-type: lower-roman;
}
ol.style-upper-alpha {
  list-style-type: upper-alpha;
}
ol.style-upper-roman {
  list-style-type: upper-roman;
}
