{#
/**
 * @file
 * Theme implementation for the text filter wrapper.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - children: The rendered child elements of the container.
 * - has_parent: A flag to indicate that the container has one or more parent
 *   containers.
 *
 * @see template_preprocess_container()
 *
 * @ingroup themeable
 */
#}
{% set classes = [
    has_parent ? 'js-form-wrapper',
    has_parent ? 'form-wrapper',
    'filter-wrapper',
    'mt-0',
    'me-2',
    'p-2',
    'border',
    'border-top-0',
] %}
<div{{ attributes.addClass(classes) }}>{{ children }}</div>
