@use "sass:math";
@import "../required";

/**
 * Patches for images.
 */

/**
 * Image classes.
 *
 * Classes to apply Bootstrap styles to a child image, since there appears to be
 * no direct way to modify img element classes within the figure element based
 * on the content of the container.
 */
.img-fluid--child-img img.child-img {
  @include img-fluid;
}

// Image thumbnails
.img-thumbnail--child-img img.child-img {
  @include border-radius($thumbnail-border-radius);
  @include box-shadow($thumbnail-box-shadow);

  // Keep them at most 100% wide.
  @include img-fluid;

  padding: $thumbnail-padding;
  border: $thumbnail-border-width solid $thumbnail-border-color;
  background-color: $thumbnail-bg;
}
/**
 * Figures
 *
 * Use figure-table instead  of bootstrap's figure to wrap text if figcaption
 * Add caption bottom to figcaption to have the caption at the bottom.
 */
.figure-table {
  display: table;
}
.figure-table > * {
  display: block;
  max-width: 100%;
}
.figure-table > figcaption {
  display: table-caption;
  max-width: none;
  caption-side: bottom;
}
.figure-img--child-img img.child-img {
  margin-bottom: math.div($spacer, 2);
  line-height: 1;
}
.rounded--child-img img.child-img {
  border-right: $border-radius;
}
