@import "../required";

/**
 @TODO Bootstrap 5 has removed text hide. Evaluate alternatives.
 */
.feed-icon {
  display: block;
  overflow: hidden;
  width: 16px;
  height: 16px;
  text-indent: -9999px;
  background: url("../../../../../core/misc/feed.svg") no-repeat;
}
