@import "../required";

.card ul {
  margin-bottom: 0;
}
.card-columns.frontpage {
  @include media-breakpoint-only(xs) {
    column-count: 1;
  }
}
.card-columns.frontpage {
  @include media-breakpoint-only(sm) {
    column-count: 2;
  }
}
.card-columns.frontpage {
  @include media-breakpoint-only(md) {
    column-count: 3;
  }
}
.card-columns.frontpage {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
}
.card-columns.frontpage {
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}
