@import "../required";

.sticky-nav-top {
  min-width: 1px;
  min-height: 1px;
}

//  Core toolbar sits behind the Laces navbar using Bootstrap's default z-index.
.page-navigation-header.sticky-top {
  z-index: 490;
}
