@import "../required";

.laces-details {
  margin-top: 1em;
  margin-bottom: 1em;
  border: 1px solid #bfbfbf;
  border-radius: 3px;
  background-color: #fcfcfa;
}
.laces-details__summary {
  cursor: pointer;
  color: #0074bd;
  text-shadow: 0 1px 0 white;
}
.laces-details__summary:hover,
.laces-details__summary:focus,
.laces-details[open] > .laces-details__summary {
  color: #004f80;
}
.laces-details__wrapper {
  padding: 0 1.5em 1em 1.5em;
}
