@import "../required";

/**
 *  Overrides for off-canvas theming.
 *
 *  Fixes display issues created by Bootstrap Styles module.
 */
#drupal-off-canvas,
#layout-builder-modal {
  .form-check-input {
    background-color: $form-check-input-bg;
  }
  .form-check-input:checked[type="checkbox"] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e"), var(--bs-gradient);
  }
  .form-type-checkbox,
  .form-radios > div,
  .form-type-checkbox,
  .form-radios > div {
    width: auto;
    margin: 0;
    padding: 1.5em;
  }
  .form-check-input:checked {
    border-color: $form-check-input-checked-border-color;
    background-color: $form-check-input-checked-bg-color;
  }
}
