@import "../required";
#user-login-form,
#user-pass {
  #capslockdiv {
    height: 1em;
  }
  #capslockdiv p {
    position: relative;
    top: -15px;
    display: none;
    margin: 0 0 0 0.5em;
    text-indent: 2em;
    color: #c61414;
    background: url("../../images/warning.svg") left center no-repeat;
    background-size: 1.5em 1.5em;
    font-size: 1em;
    line-height: 2em;
  }
  /* Field Icons */
  #edit-name {
    text-indent: 2em;
    border: 1px solid #aaa;
    background: #fff url("../../images/login-icon.svg") no-repeat 5px center;
    background-size: 1em 1em;
  }
  #edit-pass {
    text-indent: 2em;
    border: 1px solid #aaa;
    background: #fff url("../../images/password-icon.svg") no-repeat 5px center;
    background-size: 1em 1em;
  }
  .actions-suffix {
    position: relative;
    right: 1rem;
    bottom: 2.5rem;
    float: right;
  }
  p.login-title {
    margin: 0 0 $spacer 0;
    text-align: center;
    color: #555;
    border-bottom: 1px solid #cfcfcf;
    border-radius: 3px 3px 0 0;
    background: #f3f3f3 linear-gradient(to bottom, white, #eef2f5);
    box-shadow: 0 1px whitesmoke;
    text-shadow: 0 1px white;
    font-size: 15px;
    font-weight: bold;
    line-height: 40px;
  }
  p.forgot-password {
    position: relative;
    top: -0.5rem;
    display: inline-block;
  }
  p.forgot-password a {
    border: none;
  }
  > * {
    margin-right: $spacer;
    margin-left: $spacer;
  }
}
