@import "../required";

/**
 * Style the "Edit summary" on a node edit form.
 */

button.link {
  display: inline;
  margin: 0;
  padding: 0;
  cursor: pointer;
  text-decoration: $link-decoration;
  color: $link-color;
  border: 0;
  background: transparent;
  font-size: 1em;
}
button.link:hover {
  text-decoration: $link-hover-decoration;
  color: $link-hover-color;
}
label button.link {
  font-weight: bold;
}
.text-format-wrapper > .form-item {
  margin-bottom: 0;
}
.filter-help a {
  position: relative;
  margin: 0 20px 0 0;
}
.filter-help a:after {
  position: absolute;
  top: 0;
  right: -20px; /* LTR */
  display: block;
  width: 16px;
  height: 16px;
  content: "";
  background: transparent url("../../images/help.png");
}
