@import "../required";
/**
 * Entity meta settings.
 */

.entity-meta {
  border-right: 1px solid #bfbfbf;
  border-left: 1px solid #bfbfbf;
  border-radius: 3px;
  background-color: #edede8;
  box-shadow: inset 0 0 5px rgb(0 0 0 / 15%);
}
.entity-meta__header,
.entity-meta .laces-details {
  border-top: 1px solid #bfbfbf;
  border-bottom: 1px solid #bfbfbf;
  background-color: #fcfcfa;
}
.entity-meta__header {
  padding: 1em 1.5em;
  border-radius: 3px 3px 0 0;
}
.entity-meta__title {
  margin: 0.25em 0;
  text-shadow: 0 1px 0 #fff;
  font-size: 1.231em;
  font-weight: bold;
}
.entity-meta__header .form-item {
  margin: 0.25em 0;
}
.entity-meta__last-saved {
  font-style: italic;
  /* As-designed, but really: why is this italic? */
}
.entity-meta .laces-details {
  margin: 0;
  border-top: 1px solid #fff;
  border-right: 0;
  border-left: 0;
  border-radius: 0;
}
.entity-meta .laces-details:last-child {
  border-radius: 0 0 3px 3px;
}
.entity-meta .laces-details[open] {
  padding-top: 1px;
  border-top-width: 0;
  background-color: transparent;
  background-image: linear-gradient(to bottom, rgb(0 0 0 / 12.5%), transparent 4px);
}
.entity-meta .laces-details[open] + .laces-details[open] {
  padding-top: 0;
  border-top-width: 1px;
  background-image: none;
}
.entity-meta .laces-details > .laces-details__wrapper {
  padding-top: 0;
}
.entity-meta .laces-details > summary {
  padding: 0.85em 1.25em;
  text-shadow: 0 1px 0 white;
}
/**
 * Hide JS summary from the details polyfill to make it consistent with native
 * details elements.
 *
 * @todo Consider removing this after https://www.drupal.org/node/2493957 has
 *   been solved.
 */
.entity-meta .laces-details .summary {
  display: none;
}
