:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #dee2e6;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 0.75rem;
  --bs-border-radius-2xl: 2rem;
  --bs-border-radius-pill: 50rem;
  --bs-link-color: #0d6efd;
  --bs-link-hover-color: #0a58ca;
  --bs-code-color: #d63384;
  --bs-highlight-bg: #fff3cd;
}

/**
 * Entity meta settings.
 */
.entity-meta {
  border-right: 1px solid #bfbfbf;
  border-left: 1px solid #bfbfbf;
  border-radius: 3px;
  background-color: #edede8;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.15);
}

.entity-meta__header,
.entity-meta .laces-details {
  border-top: 1px solid #bfbfbf;
  border-bottom: 1px solid #bfbfbf;
  background-color: #fcfcfa;
}

.entity-meta__header {
  padding: 1em 1.5em;
  border-radius: 3px 3px 0 0;
}

.entity-meta__title {
  margin: 0.25em 0;
  text-shadow: 0 1px 0 #fff;
  font-size: 1.231em;
  font-weight: bold;
}

.entity-meta__header .form-item {
  margin: 0.25em 0;
}

.entity-meta__last-saved {
  font-style: italic;
  /* As-designed, but really: why is this italic? */
}

.entity-meta .laces-details {
  margin: 0;
  border-top: 1px solid #fff;
  border-right: 0;
  border-left: 0;
  border-radius: 0;
}

.entity-meta .laces-details:last-child {
  border-radius: 0 0 3px 3px;
}

.entity-meta .laces-details[open] {
  padding-top: 1px;
  border-top-width: 0;
  background-color: transparent;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.125), transparent 4px);
}

.entity-meta .laces-details[open] + .laces-details[open] {
  padding-top: 0;
  border-top-width: 1px;
  background-image: none;
}

.entity-meta .laces-details > .laces-details__wrapper {
  padding-top: 0;
}

.entity-meta .laces-details > summary {
  padding: 0.85em 1.25em;
  text-shadow: 0 1px 0 white;
}

/**
 * Hide JS summary from the details polyfill to make it consistent with native
 * details elements.
 *
 * @todo Consider removing this after https://www.drupal.org/node/2493957 has
 *   been solved.
 */
.entity-meta .laces-details .summary {
  display: none;
}

/*# sourceMappingURL=laces_entity-meta.css.map */