:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #dee2e6;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 0.75rem;
  --bs-border-radius-2xl: 2rem;
  --bs-border-radius-pill: 50rem;
  --bs-link-color: #0d6efd;
  --bs-link-hover-color: #0a58ca;
  --bs-code-color: #d63384;
  --bs-highlight-bg: #fff3cd;
}

/**
 * Override of misc/vertical-tabs.css.
 */
.vertical-tabs * {
  box-sizing: content-box;
}

.vertical-tabs textarea {
  box-sizing: border-box;
}

.vertical-tabs {
  position: relative;
  margin: 10px 0;
  border: 1px solid #bdbdbd;
  border-radius: 4px;
  background: #e6e5e1;
}

.vertical-tabs__menu {
  float: left; /* LTR */
  width: 240px;
  margin: 0 -100% -1px 0; /* LTR */
  padding: 0;
  list-style-type: none;
  border-bottom: 1px solid #ccc;
  line-height: 1;
}

[dir=rtl] .vertical-tabs__menu {
  float: right;
  margin: 0 0 -1px -100%;
}

.vertical-tabs__menu-item {
  position: relative;
}

.vertical-tabs__menu-item.is-selected {
  z-index: 1;
  overflow-x: hidden;
  width: 100%;
  border-right: 1px solid #fcfcfa; /* LTR */
  border-bottom: 1px solid #b3b2ad;
  box-shadow: 0 5px 5px -5px hsla(0deg, 0%, 0%, 0.3);
}

.vertical-tabs__menu-item.last {
  border-bottom: none;
}

.vertical-tabs__menu-item.first a {
  border-top-left-radius: 4px; /* LTR */
}

[dir=rtl] .vertical-tabs__menu-item.first a {
  border-top-left-radius: 0;
  border-top-right-radius: 4px;
}

[dir=rtl] .vertical-tabs__menu-item.is-selected {
  border-right: none;
  border-left: 1px solid #fcfcfa;
}

.vertical-tabs__menu-item:focus,
.vertical-tabs__menu-item:active {
  z-index: 2;
}

.vertical-tabs__menu-item a {
  display: block;
  padding: 10px 15px 15px;
  text-decoration: none;
  border-bottom: 1px solid #b3b2ad;
  background-color: #f2f2f0;
  text-shadow: 0 1px hsla(0deg, 0%, 100%, 0.6);
}

.vertical-tabs__menu-item:last-child a {
  border-bottom: 0;
}

.vertical-tabs__menu-item.is-selected a,
.vertical-tabs__menu-item a:hover,
.vertical-tabs__menu-item a:focus {
  background: #fcfcfa;
  text-shadow: none;
}

.vertical-tabs__menu-item a:focus {
  outline: none;
}

.vertical-tabs__menu-item a:focus .vertical-tabs__menu-item-title {
  text-decoration: underline;
}

.vertical-tabs__menu-item a:active .vertical-tabs__menu-item-title,
.vertical-tabs__menu-item.is-selected a:focus .vertical-tabs__menu-item-title {
  text-decoration: none;
}

.vertical-tabs__menu-item.is-selected a {
  padding-left: 11px; /* LTR */
  text-decoration: none;
  color: #004f80;
  border-bottom: none;
}

[dir=rtl] .vertical-tabs__menu-item.is-selected a {
  padding-right: 11px;
  padding-left: 15px;
}

.vertical-tabs__menu-item.is-selected a:hover,
.vertical-tabs__menu-item.is-selected a:focus {
  color: #007ecc;
}

[data-vertical-tabs-panes] {
  background-color: #fcfcfa;
}

.vertical-tabs__panes {
  margin: 0 0 0 240px; /* LTR */
  padding: 10px 15px 10px 15px;
  border-left: 1px solid #a6a5a1; /* LTR */
  border-top-right-radius: 4px; /* LTR */
  border-bottom-right-radius: 4px; /* LTR */
}

[dir=rtl] .vertical-tabs__panes {
  margin: 0 240px 0 0;
  border-right: 1px solid #a6a5a1;
  border-left: none;
  border-radius: 4px 0 0 4px;
}

.vertical-tabs__panes:after {
  display: table;
  clear: both;
  content: "";
}

.vertical-tabs__pane {
  margin: 0;
  padding: 0;
  color: #595959;
  border: 0;
}

.vertical-tabs__menu-item-summary {
  display: block;
  padding-top: 0.4em;
  color: #666;
}

.vertical-tabs__pane > summary {
  display: none;
}

/*# sourceMappingURL=laces_vertical-tabs.css.map */