:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #dee2e6;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 0.75rem;
  --bs-border-radius-2xl: 2rem;
  --bs-border-radius-pill: 50rem;
  --bs-link-color: #0d6efd;
  --bs-link-hover-color: #0a58ca;
  --bs-code-color: #d63384;
  --bs-highlight-bg: #fff3cd;
}

/**
 * Presentational styles for Drupal dialogs.
 */
.ui-dialog {
  position: absolute;
  z-index: 1260;
  padding: 0;
  border: 0;
  background: transparent;
}

@media all and (max-width: 48em) { /* 768px */
  .ui-dialog {
    min-width: 92%;
    max-width: 92%;
  }
}
.ui-dialog .ui-dialog-titlebar {
  position: relative;
  padding: 15px 49px 15px 15px; /* LTR */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: #6b6b6b;
}

[dir=rtl] .ui-dialog .ui-dialog-titlebar {
  padding-right: 15px;
  padding-left: 49px;
}

.ui-dialog .ui-dialog-title {
  margin: 0;
  color: #fff;
  font-size: 1.231em;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
}

.ui-dialog .ui-dialog-titlebar-close {
  position: absolute;
  top: 15px;
  right: 12px; /* LTR */
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  transition: all 0.1s;
  border: 3px solid #6b6b6b;
  border-radius: 5px;
  background: none;
}

.ui-dialog .ui-dialog-titlebar-close:hover,
.ui-dialog .ui-dialog-titlebar-close:focus {
  border-color: #fff;
}

[dir=rtl] .ui-dialog .ui-dialog-titlebar-close {
  right: auto;
  left: 20px;
}

.ui-dialog .ui-icon.ui-icon-closethick {
  margin-top: -8px;
  background: url("../../images/ffffff/ex.svg") 0 0 no-repeat;
}

.ui-dialog .ui-widget-content.ui-dialog-content {
  overflow: auto;
  padding: 1em;
  background: #fff;
}

.views-ui-dialog .ui-widget-content.ui-dialog-content {
  padding: 0;
}

.ui-dialog .ui-widget-content.ui-dialog-buttonpane {
  /* border-top: 1px solid #bfbfbf; */
  margin: 0;
  padding: 15px 20px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background: #f5f5f2;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
  float: none;
  margin: 0;
  padding: 0;
}

.ui-dialog .ui-dialog-buttonpane .ui-button-text-only .ui-button-text {
  padding: 0;
}

.ui-dialog .ui-dialog-content {
  position: static;
}

/* Form action buttons are moved in dialogs. Remove empty space. */
.ui-dialog .ui-dialog-content .form-actions {
  margin: 0;
  padding: 0;
}

.ui-dialog .ajax-progress-throbber {
  position: fixed;
  z-index: 1000;
  top: 48.5%;
  /* Can't do center:50% middle: 50%, so approximate it for a typical window size. */
  left: 49%; /* LTR */
  width: 24px;
  height: 24px;
  padding: 4px;
  opacity: 0.9;
  border-radius: 7px;
  background-color: #232323;
  background-image: url("../../images/loading-small.gif");
  background-repeat: no-repeat;
  background-position: center center;
}

[dir=rtl] .ui-dialog .ajax-progress-throbber {
  right: 49%;
  left: auto;
}

.ui-dialog .ajax-progress-throbber .throbber,
.ui-dialog .ajax-progress-throbber .message {
  display: none;
}

.ui-dialog.ui-dialog-off-canvas .ui-dialog-titlebar {
  position: relative;
}

.ui-dialog.ui-dialog-off-canvas .ui-dialog-titlebar-close {
  top: 10px;
}

.ui-dialog.ui-dialog-off-canvas .ui-widget-content.ui-dialog-content {
  background: none;
}

/*# sourceMappingURL=laces_dialog.css.map */