:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #dee2e6;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 0.75rem;
  --bs-border-radius-2xl: 2rem;
  --bs-border-radius-pill: 50rem;
  --bs-link-color: #0d6efd;
  --bs-link-hover-color: #0a58ca;
  --bs-code-color: #d63384;
  --bs-highlight-bg: #fff3cd;
}

#user-login-form,
#user-pass {
  /* Field Icons */
}
#user-login-form #capslockdiv,
#user-pass #capslockdiv {
  height: 1em;
}
#user-login-form #capslockdiv p,
#user-pass #capslockdiv p {
  position: relative;
  top: -15px;
  display: none;
  margin: 0 0 0 0.5em;
  text-indent: 2em;
  color: #c61414;
  background: url("../../images/warning.svg") left center no-repeat;
  background-size: 1.5em 1.5em;
  font-size: 1em;
  line-height: 2em;
}
#user-login-form #edit-name,
#user-pass #edit-name {
  text-indent: 2em;
  border: 1px solid #aaa;
  background: #fff url("../../images/login-icon.svg") no-repeat 5px center;
  background-size: 1em 1em;
}
#user-login-form #edit-pass,
#user-pass #edit-pass {
  text-indent: 2em;
  border: 1px solid #aaa;
  background: #fff url("../../images/password-icon.svg") no-repeat 5px center;
  background-size: 1em 1em;
}
#user-login-form .actions-suffix,
#user-pass .actions-suffix {
  position: relative;
  right: 1rem;
  bottom: 2.5rem;
  float: right;
}
#user-login-form p.login-title,
#user-pass p.login-title {
  margin: 0 0 1rem 0;
  text-align: center;
  color: #555;
  border-bottom: 1px solid #cfcfcf;
  border-radius: 3px 3px 0 0;
  background: #f3f3f3 linear-gradient(to bottom, white, #eef2f5);
  box-shadow: 0 1px whitesmoke;
  text-shadow: 0 1px white;
  font-size: 15px;
  font-weight: bold;
  line-height: 40px;
}
#user-login-form p.forgot-password,
#user-pass p.forgot-password {
  position: relative;
  top: -0.5rem;
  display: inline-block;
}
#user-login-form p.forgot-password a,
#user-pass p.forgot-password a {
  border: none;
}
#user-login-form > *,
#user-pass > * {
  margin-right: 1rem;
  margin-left: 1rem;
}

/*# sourceMappingURL=laces__module__super_login__overrides.css.map */