@import "../required";

// Utilities
$utilities: () !default;
$utilities: map-merge(
  (
    "mw-text": (
      property: max-width,
      class: mw-text,
      values: (null: 50rem),
    ),
    "border-style": (
      property: border-style,
      values: none dotted dashed solid double groove ridge inset outset,
    ),
    "border-top-style": (
      property: border-top-style,
      values: none dotted dashed solid double groove ridge inset outset,
    ),
    "border-end-style": (
      property: border-right-style,
      class: border-end-style,
      values: none dotted dashed solid double groove ridge inset outset,
    ),
    "border-bottom-style": (
      property: border-bottom-style,
      values: none dotted dashed solid double groove ridge inset outset,
    ),
    "border-start-style": (
      property: border-left-style,
      class: border-start-style,
      values: none dotted dashed solid double groove ridge inset outset,
    ),
    "border-top-width": (
      property: border-top-width,
      class: border-top,
      values: $border-widths,
    ),
    "border-end-width": (
      property: border-right-width,
      class: border-end,
      values: $border-widths,
    ),
    "border-bottom-width": (
      property: border-bottom-width,
      class: border-bottom,
      values: $border-widths,
    ),
    "border-start-width": (
      property: border-left-width,
      class: border-start,
      values: $border-widths,
    ),
    "border-top-color": (
      property: border-top-color,
      class: border-top,
      values: map-merge($theme-colors, ("white": $white))
    ),
    "border-end-color": (
      property: border-right-color,
      class: border-end,
      values: map-merge($theme-colors, ("white": $white))
    ),
    "border-bottom-color": (
      property: border-bottom-color,
      class: border-bottom,
      values: map-merge($theme-colors, ("white": $white))
    ),
    "border-start": (
      property: border-left-color,
      class: border-start,
      values: map-merge($theme-colors, ("white": $white))
    ),
    "rounded": (
      property: border-radius,
      class: rounded,
      values: (
        null: $border-radius,
        0: 0,
        1: $border-radius-sm,
        2: $border-radius,
        3: $border-radius-lg,
        4: $border-radius-xl,
        5: $border-radius-xxl,
        circle: 50%,
        pill: $border-radius-pill,
      )
    ),
    "rounded-top-left-radius": (
      property: rounded-top-left-radius,
      class: rounded-top-start,
      values: (
        null: $border-radius,
        0: 0,
        1: $border-radius-sm,
        2: $border-radius,
        3: $border-radius-lg,
        4: $border-radius-xl,
        5: $border-radius-xxl,
        circle: 50%,
        pill: $border-radius-pill
      )
    ),
    "rounded-top-start-radius": (
      property: border-top-left-radius,
      class: rounded-top-start,
      values: (
        null: $border-radius,
        0: 0,
        1: $border-radius-sm,
        2: $border-radius,
        3: $border-radius-lg,
        4: $border-radius-xl,
        5: $border-radius-xxl,
        circle: 50%,
        pill: $border-radius-pill
      )
    ),
    "rounded-bottom-end-radius": (
      property: border-bottom-right-radius,
      class: rounded-bottom-end,
      values: (
        null: $border-radius,
        0: 0,
        1: $border-radius-sm,
        2: $border-radius,
        3: $border-radius-lg,
        4: $border-radius-xl,
        5: $border-radius-xxl,
        circle: 50%,
        pill: $border-radius-pill
      )
    ),
    "rounded-bottom-start-radius": (
      property: border-bottom-left-radius,
      class: rounded-bottom-start,
      values: (
        null: $border-radius,
        0: 0,
        1: $border-radius-sm,
        2: $border-radius,
        3: $border-radius-lg,
        4: $border-radius-xl,
        5: $border-radius-xxl,
        circle: 50%,
        pill: $border-radius-pill
      )
    ),
    "background-color": (
      property: background-color,
      class: bg,
      responsive: true,
      local-vars: (
        "bg-opacity": 1
      ),
      values: map-merge(
        $utilities-bg-colors,
        (
          "transparent": transparent
        )
      )
    ),
    "color": (
      property: color,
      class: text,
      responsive: true,
      local-vars: (
        "text-opacity": 1
      ),
      values: map-merge(
        $utilities-text-colors,
        (
          "muted": $text-muted,
          "black-50": rgba($black, 0.5),
          "white-50": rgba($white, 0.5),
          "reset": inherit,
        )
      )
    ),
  ),
  $utilities
);

@import "../../../../../../vendor/twbs/bootstrap/scss/utilities/api";
